@if (status() === 'loading') {
  <mat-progress-spinner mode="indeterminate" diameter="50" />
}

<div [style.background]="'url(' + thumbnail + ') 50% 50% / cover no-repeat'"
     [ngStyle]="
        status() !== 'loaded' &&
        !['/assets/nsfw.png', '/assets/default.png'].includes(thumbnail)
          ? {
              filter: 'blur(10px) brightness(0.6)',
              transform: 'scale(1.1)'
            }
          : {}
      "
     class="preload-background">
  <video
    (click)="togglePlay$.next()"
    #gifPlayer
    playsinline
    preload="none"
    [loop]="true"
    [muted]="true"
    [src]="src"
  ></video>
</div>
